.header{
    background:rgba(255,255,255,0.85);
    padding: 1 rem 2 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-family: sans-serif;
}  

.title{
    font-size:1.5rem;
    color: #4a148c;
}

.nav{
    display: flex;
        gap:1.5rem;    
}

.navItem{
    display: flex;
    align-items:center;
    gap:0.5rem;
    text-decoration: none;
    color:#4a148c;
    font-weight: 600;
    transition: color 0.2s ease;
}

.navItem:hover{
    color:#8e44ad;
    cursor: pointer;
}


